extends layout

block content
  div.container
    div.error-container
      div.error-details
        h1 Error #{error.status}
        h3 #{title}
        p= message
      if nav_current_directory && nav_current_directory.length
        a#goBack.btn-control Go back to #{nav_current_directory[nav_current_directory.length - 2].name}
      else
        a#goBack.btn-control Go back
