extends layout

block content
  div.container
    div.item-delete
      div.delete-box
        div
          h1 #{title}:
          h1 #{item.name}
        h3 Are you sure you want to delete this image?
        form(method='POST' action='')
          if item && item.permanent
            input#itemispermanent(type='hidden' name='itemispermanent' value='true')
            label(for='adminpass') This is an original shop item. Admin password is required for this action:
            input#adminpass(type='password' name='adminpass' minlength=1 maxlength=64 placeholder='Admin password' required='true')
            if pass_check === false
              ol.errors-msg
                li!= 'Wrong admin password!'
          div.delete-controls
            button.btn-control.btn-danger(type='submit') Delete
            button#goBack.btn-control.btn-cancel(type='button') Cancel
      div.item-img
        img(src=`/uploads/images/${item.imgName}`)
