extends layout

block categories
  ul.dropdown(class= category_list.length > 6 ? 'vertical' : '')
    each category in category_list
      li
        a(href=category.url) #{category.name}
    a(href= '')
      li.category-create
        a(href='/category/create') + New category

block content
  h1= title
  p Welcome to #{title} page
