extends layout

block content
  div.content-container
    each item in item_list
      a(href= path ? path + item.category + item.url : item.category + item.url)
        div.item
          div.item-data
            h1= item.name
            p= item.description
          div.item-status
            h2= item.price
            h3= item.stock