doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/') Home
        li.dropdown-hover
          a(href='/catalog') Catalog
          include nav
      header.logo
        a(href='/') Formula 1 Official Store
    if nav_current_directory.length
      div.current-directory
        ul
          each path in nav_current_directory
            li
              a(href= path.setPath) #{path.name}
    main
      block content
