:root {
	--custom-black: rgb(50, 50, 50);
	--custom-white: rgb(255, 255, 255);
	--custom-blue: rgb(100, 250, 250);
	--custom-orange: rgb(255, 125, 25);
	--custom-red: rgb(225, 0, 0);
}

body {
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

a {
	text-decoration: none;
}

nav {
	background-color: var(--custom-red);
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	user-select: none;
	z-index: 100;
}

nav * {
	color: var(--custom-white);
}

.nav-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px;
}

.nav-top .category-list a:hover {
	color: var(--custom-blue);
}

.category-list {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	font-size: 1.5rem;
	font-weight: 600;
	flex: 1;
	width: fit-content;
	text-transform: uppercase;
}

.category-list > li {
	margin-right: 24px;
}

.nav-top .logo {
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	margin: auto;
	text-transform: uppercase;
	font-style: italic;
	white-space: nowrap;
}

.nav-top .logo a::after {
	content: 'Formula 1 Official Store';
}

@media only screen and (max-width: 992px) {
	.nav-top .category-list {
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
	}

	.nav-top .category-list li {
		margin-top: 4px;
		font-size: 1.25rem;
	}
}

@media only screen and (max-width: 860px) {
	.nav-top .logo a::after {
		content: 'Formula 1 Store';
	}
}

@media only screen and (max-width: 660px) {
	.nav-top .logo a::after {
		content: 'F1 Store';
	}
}

.dropdown-hover:hover > .dropdown {
	display: flex !important;
}

.dropdown {
	position: absolute;
	left: 0;
	padding: 0 12px;
	display: none;
	flex-direction: row;
	background-color: var(--custom-red);
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	scrollbar-color: var(--custom-blue) var(--custom-red);
	animation: drop 200ms ease-in-out;
	transform-origin: top center;
}

@keyframes drop {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

.dropdown > li {
	margin: 12px;
	margin-left: 0;
	margin-right: 8px;
}

.dropdown > li > a {
	border-radius: 8px;
	padding: 0 4px;
}

.dropdown > li > a:hover {
	background-position: left;
	background-color: var(--custom-black);
}

@media only screen and (max-width: 1200px) {
	.dropdown {
		flex-direction: column;
		background-color: var(--custom-red);
		padding: 12px;
		max-width: fit-content;
		min-height: 320px;
		max-height: 50%;
		align-items: flex-end;
		overflow-y: auto;
		border-bottom-right-radius: 24px;
		direction: rtl;
	}

	.dropdown * {
		direction: ltr;
	}

	.dropdown > li {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: row;
	}

	.dropdown > li > a {
		padding: 8px;
		padding-left: 4px;
		background: linear-gradient(
				to left,
				var(--custom-red) 50%,
				var(--custom-black) 50%
			)
			right;
		background-size: 200%;
		width: 100%;
	}
}

.nav-bot {
	justify-self: flex-end;
	padding: 8px 16px;
	background-color: var(--custom-black);
}

.nav-bot .current-directory li {
	display: inline-block;
	margin: 2px 8px;
}

.current-directory li::before {
	content: '>';
	font-weight: 600;
	margin-right: 12px;
	color: var(--custom-white);
	font-size: 1rem;
}

.current-directory a {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--custom-blue);
	border-bottom: 1px solid var(--custom-black);
}

.current-directory a:hover {
	color: var(--custom-orange);
	border-bottom: 1px solid var(--custom-orange);
}

main {
	flex: 1;
	margin: 24px;
	min-width: fit-content;
	background-color: var(--custom-white);
}

.container-home {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	margin: 0 auto;
}

.home-bg-pic {
	min-width: 480px;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

.container-home .home-grid {
	min-width: 480px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, minmax(64px, 256px));
	justify-content: space-evenly;
	grid-gap: 24px;
	margin: 24px;
}

.home-grid > a {
	display: flex;
	flex-direction: column;
	word-break: keep-all;
	margin: auto;
	filter: opacity(90%);
	padding: 4px;
}

.home-grid > a:hover {
	filter: brightness(105%);
}

.home-grid .item-img {
	height: 75%;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 4px;
}

.home-grid .item-img img {
	display: block;
	width: 100%;
	height: 100%;
}

.home-grid h3 {
	margin: 4px;
}

.home-grid .otherCategories {
	grid-column: 1/4;
	padding: 12px;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.grid-container .item:hover:not(.item-add, .category-controls) {
	background-color: var(--custom-orange);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 400px);
	grid-auto-rows: 1fr;
	justify-content: space-evenly;
	grid-gap: 24px;
}

.grid-container .item:hover:not(.item-add, .category-controls) {
	background-color: var(--custom-orange);
}

.item {
	display: flex;
	flex-direction: column;
	min-height: 300px;
	color: var(--custom-black);
	background-color: var(--custom-blue);
	border-radius: 12px;
	padding: 12px;
	word-break: break-all;
	transition: 0.5s ease;
}

.item-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px;
}

.item .item-img {
	height: 128px;
	width: 128px;
	margin: 0 auto;
	margin-bottom: 12px;
}

.item .item-img img {
	display: block;
	width: 100%;
	height: 100%;
}

.item .item-no-img {
	background-color: var(--custom-black);
	color: var(--custom-red);
	height: 128px;
	width: 128px;
	margin: 0 auto;
	margin-bottom: 12px;
}

.item .item-no-img::before {
	display: flex;
	flex-direction: row;
	color: var(--custom-red);
	justify-content: center;
	align-items: center;
	content: '?';
	font-weight: 600;
	font-size: 3rem;
	height: 128px;
	width: 128px;
}

.item-details > * {
	padding: 8px 0;
	margin: 0 8px;
}

.item-data h1 {
	padding-bottom: 8px;
}

.item-data h2 {
	text-overflow: ellipsis;
	overflow: auto;
	scrollbar-color: var(--custom-red) transparent;
	padding-top: 8px;
}

.item-data h2,
.item-details .item-status,
.item-details .item-controls {
	border-top: 1px solid var(--custom-black);
}

.item-details > h2 {
	margin-top: 8px;
}

.item-status {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 600;
}

.item-price {
	text-align: left;
}

.item-stock {
	text-align: right;
}

.item.category-controls {
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.item.item-add {
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item.category-controls a,
.item.item-add a {
	width: 100%;
	font-size: 1.5rem;
}

.item-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item-container .item-img {
	margin: 16px;
	background-color: var(--custom-orange);
	display: flex;
	flex-direction: row;
	align-self: center;
	width: 500px;
	height: 500px;
	border-radius: 12px;
}

.item-container .item-img img {
	display: block;
	width: 90%;
	height: 90%;
	margin: auto;
	align-self: center;
	transition: 0.5s ease-in-out;
}

.item-container .item-no-img {
	background-color: var(--custom-orange);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
	border-radius: 12px;
}

.item-container .item-no-img::before {
	background-color: var(--custom-black);
	display: flex;
	flex-direction: row;
	color: var(--custom-red);
	justify-content: center;
	align-items: center;
	content: '?';
	font-weight: 600;
	font-size: 5rem;
	width: 90%;
	height: 90%;
}

.item-container .item-details {
	margin: 16px;
	width: 500px;
	height: 500px;
	background-color: var(--custom-blue);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-form h1 {
	margin: 12px;
}

.category-form,
.item-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
	background-color: var(--custom-blue);
	border-radius: 12px;
	width: 500px;
	padding: 12px 40px;
	text-align: center;
}

.category-form button,
.item-form button {
	margin: 12px auto;
}

form {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	width: 100%;
}

form > *:not(label) {
	margin-top: 4px;
	margin-bottom: 12px;
}

label {
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
}

input,
textarea {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	padding: 4px;
	resize: none;
}

select {
	padding: 4px;
	text-align: center;
}

.form-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 12px;
}

.errors-msg {
	list-style: inside;
	text-align: left;
	margin: 8px;
	font-size: 1rem;
	color: var(--custom-red);
}

@media only screen and (max-width: 1200px) {
	.category-form,
	.item-form {
		width: 55%;
	}
}

@media only screen and (max-width: 1100px) {
	.item-container .item-img,
	.item-container .item-no-img,
	.item-container .item-details {
		width: 300px;
		height: 300px;
	}

	.item-details {
		padding: 0;
	}

	.item-details h1 {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.item-details h2 {
		font-size: 1rem;
		max-height: 64px;
	}

	.item-controls {
		flex-direction: column;
	}

	.item-controls a {
		font-size: 0.9rem;
		padding: 4px;
		margin: 4px 0;
	}
}

@media only screen and (max-width: 768px) {
	.category-form,
	.item-form {
		width: 70%;
	}
}

@media only screen and (max-width: 700px) {
	.item-container {
		flex-direction: column;
	}
}

.item-form .item-img {
	height: 128px;
	width: 128px;
	margin: 4px auto;
}

.item-form .item-img img {
	display: block;
	width: 100%;
	height: 100%;
	transition: 0.5s ease-in-out;
}

.item-form .item-img img:hover {
	transform: scale(2);
	transform-origin: bottom center;
}

.item-form input[type='file'] {
	padding: 8px 0;
	text-align: center;
	border: 1px solid rgb(150, 150, 150);
	background-color: rgb(255, 255, 255);
}

.container .category-delete {
	width: 100%;
	padding: 0 12px;
}

.category-delete .grid-container {
	justify-content: flex-start;
	grid-template-columns: repeat(auto-fill, 400px);
	margin: 24px 0;
}

.category-delete .delete-box {
	width: 500px;
	background-color: var(--custom-blue);
	padding: 12px;
	border-radius: 12px;
}

.category-delete form {
	max-width: 500px;
}

.category-delete form {
	margin-top: 12px;
}

.category-delete input#adminpass {
	margin-top: 4px;
	margin-bottom: 12px;
}

.delete-box > * {
	margin-bottom: 12px;
}

.delete-box h2 {
	word-break: break-all;
}

.delete-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 12px;
}

.btn-submit,
.btn-control {
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
	border: none;
	color: var(--custom-black);
	background-color: var(--custom-orange);
	border-radius: 4px;
	padding: 12px 20px;
}

.btn-submit:hover,
.btn-control:hover {
	filter: brightness(110%);
	box-shadow: 0 0 1px 1px var(--custom-black);
}

.btn-submit:active,
.btn-control:active {
	filter: brightness(130%);
}

.btn-control {
	padding: 8px 12px;
}

.btn-danger:hover {
	box-shadow: 0 0 1px 1px var(--custom-black);
}

.btn-danger {
	background-color: var(--custom-red);
}

.btn-danger:active {
	filter: brightness(125%);
}

.container .item-delete {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item-delete .item {
	width: 500px;
	height: 500px;
}

.item-delete .delete-box,
.item-delete form {
	max-width: 400px;
}

.item-delete .delete-box,
.item-delete .item {
	margin: 0 24px;
}

.item-delete > .item-img {
	background-color: var(--custom-orange);
	display: flex;
	flex-direction: row;
	align-self: center;
	width: 500px;
	height: 500px;
	border-radius: 12px;
}

.item-delete > .item-img img {
	display: block;
	width: 75%;
	height: 75%;
	margin: auto;
	align-self: center;
	transition: 0.5s ease-in-out;
}

.item-delete > .item-no-img {
	height: 200px;
	width: 200px;
}

.item-delete > .item-no-img::before {
	height: 200px;
	width: 200px;
}

.error-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 200px;
	padding: 40px;
	color: var(--custom-white);
	background-color: var(--custom-black);
}

.error-details {
	font-weight: 600;
	margin-bottom: 24px;
}

.error-details > * {
	padding: 8px;
}

.error-container a {
	align-self: center;
}

.footer {
	width: 100%;
	text-align: center;
	background-color: var(--custom-black);
}

.footer a {
	font-weight: 600;
	color: var(--custom-white);
	padding: 4px;
	float: right;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.footer svg {
	margin-left: 8px;
	box-sizing: content-box;
	border-radius: 50%;
	padding: 1px;
	background-color: var(--custom-white);
	fill: var(--custom-black);
}
