body,
input,
textarea {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

header {
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	width: 80%;
	font-style: italic;
	color: rgb(255, 255, 255);
}

header a,
header a:hover {
	color: rgb(255, 255, 255);
}

a {
	text-decoration: none;
}

nav {
	background-color: rgb(225, 0, 0);
	display: flex;
	padding: 24px;
}

nav ul a {
	color: rgb(255, 255, 255);
}

nav > ul > li > a:hover {
	color: rgb(150, 225, 225);
}

nav > ul {
	display: flex;
	align-items: flex-end;
	font-size: 1.5rem;
	font-weight: 600;
	width: fit-content;
	text-transform: uppercase;
}

nav > ul > li {
	margin-right: 48px;
	margin-left: 12px;
}

.current-path {
	padding: 0 24px;
	background-color: rgb(235, 235, 235);
}

.current-path li {
	display: inline-block;
	padding: 12px;
	padding-right: 0;
}

.current-path a {
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: underline;
	cursor: pointer;
	color: rgb(0, 100, 255);
}

.current-path li::before {
	content: '>';
	margin-right: 12px;
}

.current-path a:hover {
	color: rgb(225, 0, 0);
}

.dropdown-hover:hover > .dropdown {
	visibility: visible !important;
}

.dropdown {
	visibility: hidden;
	position: absolute;
	left: 0;
	padding: 0 24px;
	display: flex;
	align-items: center;
	background-color: rgb(225, 0, 0);
	transition: 0.3s ease;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	scrollbar-color: rgb(150, 225, 225) rgb(225, 0, 0);
}

.dropdown > li {
	padding: 12px;
	margin-right: 6px;
}

@media only screen and (max-width: 1200px) {
	.dropdown {
		flex-direction: column;
		background-color: rgb(225, 0, 0);
		scrollbar-color: rgb(150, 225, 225) rgb(225, 0, 0);
		padding: 12px;
		max-width: fit-content;
		align-items: flex-end;
		overflow-y: scroll;
		max-height: 40%;
		border-bottom-right-radius: 24px;
		direction: rtl;
	}

	.dropdown * {
		direction: ltr;
	}

	.dropdown > li {
		padding: 0;
		margin-right: 0;
		display: flex;
	}

	.dropdown > li > a {
		padding: 12px;
		transition: 0.3s ease;
		background: linear-gradient(
				to left,
				rgb(225, 25, 0) 50%,
				rgb(150, 225, 225) 50%
			)
			right;
		background-size: 200%;
		width: 100%;
	}
}

.dropdown > li > a:hover {
	background-position: left;
}

.dropdown > li a {
	transition: 0.3s ease;
}

.dropdown > li:hover a {
	color: rgb(0, 0, 0);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-auto-rows: 1fr;
	justify-content: space-between;
	grid-gap: 24px;
}

main {
	padding: 60px 40px;
}

.grid-container a {
	color: rgb(0, 0, 0);
}

.container {
	display: flex;
	justify-content: center;
}

.item {
	display: flex;
	flex-direction: column;
	background-color: rgb(200, 0, 0);
	border-radius: 12px;
	padding: 16px;
	height: 100%;
	min-height: 200px;
}

.item > div {
	background-color: rgb(150, 225, 225);
	padding: 8px;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	word-break: break-all;
}

.item-data {
	padding: 8px;
}

.item-data > * {
	margin-bottom: 12px;
}

.item-container .item-data > * {
	padding: 12px;
	margin-bottom: 24px;
}

.item-status {
	margin-top: 12px;
	padding: 8px;
}

.item-container .item-status > * {
	padding: 12px;
}

.item-status {
	display: flex;
	justify-content: space-between;
}

.item-price,
.item-stock {
}

.item-controls {
	padding: 8px;
	display: flex;
	justify-content: space-between;
}

.item-controls > * {
	padding: 12px;
}

.item-container {
	display: flex;
	justify-content: center;
	width: 50%;
	max-width: 800px;
	min-width: fit-content;
}

.item-details {
	display: flex;
	justify-content: space-evenly;
	border-radius: 12px;
	background-color: rgb(200, 0, 0);
	padding: 24px;
	min-height: 600px;
	min-width: fit-content;
}

.item-img {
	height: 200px;
	width: 200px;
	margin: 12px auto;
	transition: 0.5s ease-in-out;
}

.item-details .item-img:hover {
	transform: scale(2);
	transform-origin: top center;
}

.item-img img {
	display: block;
	width: 100%;
	height: 100%;
}

.item-no-img {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 0, 0);
	height: 160px;
	width: 160px;
	margin: 12px auto;
}

.item-no-img::before {
	display: flex;
	justify-content: center;
	align-items: center;
	content: '?';
	font-weight: 900;
	font-size: 4rem;
	height: 160px;
	width: 160px;
}

.container-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-form h1 {
	margin: 12px;
}

.category-form,
.item-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
	background-color: rgb(150, 225, 225);
	border-radius: 12px;
	min-width: 280px;
	width: 40%;
	padding: 8px;
	text-align: center;
}

@media only screen and (max-width: 1200px) {
	.category-form,
	.item-form {
		width: 55%;
	}
}

@media only screen and (max-width: 768px) {
	.category-form,
	.item-form {
		width: 70%;
	}
}

form {
	font-size: 1.5rem;
	width: 100%;
}

form * {
	margin: 4px;
}

label {
	display: flex;
	flex-direction: column;
}

input,
textarea {
	padding: 4px;
	resize: none;
}

select {
	text-align: center;
	max-width: 75%;
}

.btn {
	font-weight: 600;
	font-size: 1rem;
	border: solid 1px rgb(0, 0, 0);
	border-radius: 4px;
	padding: 8px 16px;
}

ol {
	list-style: inside;
	text-align: left;
}

.errors-msg {
	margin: 8px;
	font-size: 1rem;
	color: rgb(255, 0, 0);
}

.item-add {
	font-weight: 600;
}

.category-controls {
	font-weight: 600;
	text-align: center;
}

.category-controls > div {
	padding: 24px 12px;
}

.item-add > div {
	background-color: rgb(150, 225, 225);
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-add h1 {
	padding: 8px;
}

.item:hover {
	filter: brightness(110%);
}

.item.item-add:hover {
	color: rgb(200, 0, 0);
}

.item.category-controls a:hover {
	color: rgb(200, 0, 0);
}

.item-delete {
	display: flex;
	min-width: fit-content;
}

.item-delete .item-container {
	width: 70%;
	max-width: 600px;
}

.item-delete form > *:not(.del-cal-btns) {
	margin: 0;
}

.category-delete {
	width: 100%;
}

.category-delete > :not(.grid-container) {
	width: 50%;
}

.category-delete form > *:not(.del-cal-btns) {
	margin: 0;
}

.del-cal-btns {
	margin: 12px 0;
	display: flex;
	justify-content: space-between;
}

.del-cal-btns .btn {
	cursor: pointer;
	margin: 0;
}

.del-cal-btns .btn:hover {
	filter: brightness(125%);
}

.category-delete form > label * {
	margin: 12px 0;
}

.item-delete form > label * {
	margin: 12px 0;
}

.item-delete > div {
	width: 30%;
	margin: 0 24px;
}

.item-delete > div:not(.item) > * {
	padding: 12px 0;
}

.category-delete > * {
	padding: 12px 0;
}

.btn-delete {
	background-color: rgb(225, 0, 0);
}

.btn-cancel {
	background-color: rgb(150, 225, 225);
}
